@import url('https://fonts.googleapis.com/css?family=Pacifico');

body{
  background-color: #ecf0f1;
}

.app-logo{
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

.navbar{
  background-color: #fff;
}

.navbar-brand{
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
}
.navbar-light .navbar-brand, .navbar-light .navbar-toggler{
  color: #8e44ad;
}
.navbar-light .navbar-brand, .navbar-light .navbar-toggler:hover{
  color: #9b59b6;
}

.form-group input{
  width: 90%;
  margin: auto;
  margin-top: 30px;
}

.form-group input::-webkit-input-placeholder {
  color: #999;
}

.card-columns{
  margin: 3.1rem 6.25rem;
}

.accepting-true, .accepting-false{
  margin-left: 5px;
}

.accepting-true{
  color: #2ecc71;
}

.accepting-false{
  color: #e74c3c;
}

.badge{
  margin-right: 5px;
}
img{
  height: 100px;
  width: 100px;
}
.card-img{
  border-radius: 50%;
  margin-top: 5px;
}

.card-subtitle, .card-text{
  font-size: 20px;
}

.contact{
  margin-top: 7px;
}
.contact a{
  margin: 5px;
  color: #9b59b6;
}
.contact i{
  font-size: 25px;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px){
  .card-columns{
    margin: 3rem 3rem;
  }
}
